@charset "utf-8";

@import url("common/default.css");
@import url("common/fonts.css");

/* Clearfix
=================================*/

.clearfix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from Mac IE \*/
.clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
/* Hide from Mac IE */

/* =========================================
*  COMMON
* ========================================= */

html {
	height: 100%;
}

body {
	padding: 1em;
	height: 100%;
	color: #252525;
	background: #ccc;
	font-family: Helvetica;
}

p.note {
	margin: 0 auto;
	width: 830px;
	padding: 0 0 .5em;
	text-align: right;
}
p.attention {
	margin: 0 auto;
	width: 600px;
	padding: 0 0 .5em;
	font-size: 93%;
	color: #f60;
}

div#alert {
	margin: 0 auto 1em;
	border: solid #f60 3px;
	padding: 5px 10px;
	width: 574px;
}

h1 {
	text-align: center;
}
h1:first-letter {
}

	h1 a {
	}

a {
	color: #00f;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* =========================================
*  FRAME
* ========================================= */

div.pagebody {
	margin: 0 auto 1em;
	padding: 15px;
	width: 800px;
	background: #fafafa;
}

h2 {
	margin-top: 1em;
	border: solid #ccc 1px;
	border-top: none;
	border-right: none;
	border-left-width: 5px;
	padding: .3em .7em;
	font-size: 116%;
}

form {
	margin-top: 20px;
}

	form legend {
		display: none;
	}

	table {
		margin: 0 auto;
		width: 600px;
	}
		table th,
		table td {
			border: solid #ddd 5px;
			padding: 10px 14px;
		}
		table th {
			text-align: left;
		}
		
			table th span {
				margin-left: .5em;
				color: #f60;
				font-weight: bold;
			}
		
		table td {	
		}
		
			table td input {
				border: solid #eee 3px;
				padding: 4px 7px;
			}
			table td .err {
				background: #f60;
			}
			table td .err input {
				background: #f60;
			}
			table td .after.err {
				border-color: #f60;
				background: #fff !important;
			}
			table td .after.err input {
				border-color: #f60;
				background: #fff !important;
			}
			table td label {
				margin-right: 1em;
			}
			table td label input {
				margin-right: .3em;
			}
	
	p.submit {
		margin: 0 auto;
		padding-top: 2em;
		width: 600px;
		text-align: center;
	}
	.button {
		display: inline-block;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		font: 14px/100% "Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ丸ゴ Pro W4",HiraMaruPro-W4,"ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,Osaka,sans-serif;
		padding: .5em 2em .55em;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		-webkit-border-radius: .5em;
		-moz-border-radius: .5em;
		border-radius: .5em;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
		color: #d7d7d7;
		border: solid 1px #333;
		background: #333;
		background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
		background: -moz-linear-gradient(top,  #666,  #000);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
	}
	.button:hover {
		text-decoration: none;
		background: #000;
		background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
		background: -moz-linear-gradient(top,  #444,  #000);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
	}
	.button:active {
		position: relative;
		top: 1px;
		color: #666;
		background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
		background: -moz-linear-gradient(top,  #000,  #444);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
	}
	
p.copy {
	border-top: solid #ccc 1px;
	padding: 0 0 3em;
	text-align: center;
}
